/* style.css */
body {
    padding-top: 56px; /* Adjust based on the height of your navbar */
}

.navbar .nav-link {
    color: #555; /* Icon color */
}

.navbar .nav-link:hover {
    color: #333; /* Icon hover color */
}

.profile-picture img {
    width: 150px; /* Adjust this value to set the default width */
    height: 150px; /* Adjust this value to set the default height */
    border-radius: 50%; /* Makes the image round */
    object-fit: cover; /* Ensures the image covers the area without stretching */
}

/* Larger devices */
@media (min-width: 768px) {
    .profile-picture img {
        width: 200px; /* Adjust this value for larger screens */
        height: 200px; /* Adjust this value for larger screens */
    }
}

#about .lead {
    font-size: 1.25rem; /* Adjust the size of your intro text */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Additional media query for responsive adjustments */
@media (max-width: 768px) {
    .navbar .nav-link {
        margin: 0 10px;
    }

    #about {
        text-align: center;
    }

    #about .col-md-7, #about .col-md-5 {
        text-align: center;
        margin-bottom: 20px;
    }
}


.profile-picture img {
    margin-left: 50px; /* Shift image to the right */
}

.navbar .nav-link i {
    font-size: 1.5em; /* Increase icon size */
}

body {
    padding-top: 56px;
}

.navbar .nav-link i {
    font-size: 1.5em; /* Increase the size of icons */
}

.profile-picture img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px; /* Adjusted for slight right shift */
}

@media (min-width: 768px) {
    .profile-picture img {
        width: 250px; /* Increased size for larger devices */
        height        250px; /* Increase for a more prominent presence */
        margin-left: 20px; /* Shift to the right for alignment */
    }
}

/* Dark Mode Specific Styles */
body[data-bs-theme='dark'] {
    background-color: #343a40;
    color: #ffffff;
}

.navbar[data-bs-theme='dark'], footer[data-bs-theme='dark'] {
    background-color: #212529;
    color: #ffffff;
}

[data-bs-theme='dark'] .navbar .nav-link {
    color: #ffffff;
}

[data-bs-theme='dark'] .navbar .nav-link:hover {
    color: #cccccc;
}

/* Ensure smooth transition between themes */
:root {
    transition: color 0.3s ease, background-color 0.3s ease;
}

[data-bs-theme='dark'] *, [data-bs-theme='dark'] *:before, [data-bs-theme='dark'] *:after {
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}