/* style.css */
body {
    padding-top: 56px; /* Adjust based on the height of your navbar */
}

.navbar .nav-link {
    color: #555; /* Icon color */
}

.navbar .nav-link:hover {
    color: #333; /* Icon hover color */
}

.profile-picture img {
    width: 100%; /* adjust as necessary */
    height: auto; /* this will maintain the aspect ratio */
    object-fit: cover; /* this could be 'contain' if you want to see the whole image */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 6px 20px rgba(0,0,0,0.19); /* Shadow effect */
}

.profile-picture {
    /* Trigger the hover effect */
    transition: opacity 0.5s ease;
    cursor: pointer; /* Change cursor on hover to indicate it can be clicked */
}

.profile-picture:hover .profile-img {
    /* Apply the fading effect */
    opacity: 0.7;
}

/* This will make the image scale up a bit on hover */
.profile-picture:hover {
    transform: scale(1.02);
}

/* Larger devices */
@media (min-width: 1468px) {
    .profile-picture img {
        width: 400px; /* Adjust this value for larger screens */
        height: 400px; /* Adjust this value for larger screens */
    }
}

#about .lead {
    font-size: 1.25rem; /* Adjust the size of your intro text */
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Additional media query for responsive adjustments */
@media (max-width: 400px) {
    .navbar .nav-link {
        margin: 0 10px;
    }

    #about {
        text-align: right;
    }

    #about .col-md-7, #about .col-md-5 {
        text-align: center;
        margin-bottom: 20px;
    }
}